*{
    padding: 0;
    margin: 0;
    list-style: none;

}

.section{
    margin:20px 50px  ;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}



.section-ul-li-1, .section-ul-li-2 ,.section-ul-li-3 , .section-ul-li-4-div {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 1);
    border-radius: 0.6rem;
    padding: 12px 24px;
    margin: 15px;
}

.section-ul-li-1-div , .section-ul-li-2-div , .section-ul-li-3-div , .section-ul-li-4-div{
    display: flex;
    align-items: center;
    gap: 30px;
}

.section-ul-li-1-div-p{
    background: linear-gradient(to right, #f58529, #dd2a7d, #00d4ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.section-ul-li-2-div-p{
    background: linear-gradient(to right, #0088cc,#00d4ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.section-ul-li-3-div-p{
    background: linear-gradient(to right, #25d366,#127c7e);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

.section-ul-li-4-div-p{
    background: linear-gradient(to right, #ff7e5f,#feb47b);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

}

p{
    font-size: 4rem;
}